

  .navbar {
    margin-bottom: 20px;
  }

  .blogs {
    padding: 0;
  }

  .media {
    margin-bottom: 20px;
  }

  .card {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    color: #333333;
  }

  .card-body {
    padding: 20px;
  }

  .card-category {
    color: #007bff;
  }

  .card-tags {
    color: #28a745;
  }

  .card-author {
    color: #6c757d;
  }